<header>
      
    <nav class=" navbar navbar-expand-sm navbar-light bg-warning">
      
      <div class="container">
        <a href="" class="navbar-brand">
            <h1 id='logo'><i class="fa-solid fa-utensils"></i> Recipes</h1>
        </a>
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#nav-principal" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="nav-principal" style="">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link " href="#" aria-current="page"><span>Home</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span>Rercursos</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span>Beneficios</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><span>Preços</span></a>
            </li>
            
          </ul>
        </div>
        
        <form id="pesquisa-campo" class="d-flex" role="search">
          <input id="pesquisa-imput" class="form-control me-2 pesquisa-imput" type="search" placeholder="Search" aria-label="Search">
          <button id='pesquisa-butao' class="ms-2 btn btn-outline-dark " type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        
        
      </div>
      

    </nav>
</header>